// Основні кольори
$color-text-primary: #060b35;
$color-white: #fff;
$color-border: #e5e5e5;
$color-text-secondary: #616070;
$color-blue-accent: #00acdc;
$color-blue-accent-hover: #1a48d4;

// Шрифти

$font-family: 'Roboto', sans-serif;
$font-family-title: 'Inter', sans-serif;

// Розміри

$card-width: 200px;
$card-padding: 16px;

// Відступи

$margin-bottom-sm: 4px;
$margin-bottom-md: 16px;
$margin-bottom-lg: 24px;
